

server {
	listen 80 ;
	server_name {{ domain_name }};
	root /web/{{ domain_name }}/public;

	index index.php index.html index.htm index.nginx-debian.html;

	error_log /var/log/nginx/{{ domain_name }}-error.log;

	location / {
		try_files $uri $uri/ /index.php?$query_string;
	}

	location ~ \.php$ {
		include /etc/nginx/fastcgi_params;
		fastcgi_pass  127.0.0.1:9000;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
	}
}


